.modal {
    position: fixed;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);

    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    /* z-index: 100; */

    display: flex;
    flex-direction: column;
}

.defaultAva {
    width: 39px;
    height: 39px; 
    margin-left: 37%;
}

.modal button {
    margin-bottom: 6%;
}