.reviews {
    margin-top: 10%;
}

.reviewBox {
    display: flex;
    justify-content: space-between;
    width: 68%;
    margin-left: 9.4%;
}

.rewInfo {
    margin-top: 10%;
    margin-left: 7%;
}

.rewCard {
    width: 459px;
    height: 204px;
    background: #FFFDF5;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 135px;  */
    /* margin-right: 10%; */
    padding: 5px;
    /* width: calc(33.33% - 10px);  */
}

.ava {
    width: 94px;
    height: 94px;
    border-radius: 94px;
    box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.40);
    margin-left: 9.4%;
}

.reviewFooter {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.name {
    color: #121212;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.date {
    color: #514A7E;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.reviewsLabel {
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;

    margin-left: 9.4%;
}

.mainContent {
    display: flex;
    /* justify-content: space-between; */
}

.button {
    position: relative;
    left: 6%;
}

.sendReviewBtn {
    position: relative;
    margin-top: 2%;
    left: -29%;
    width: 20%;
    height: 10%;
}