.joinLabel {
    color: #121212;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 23.6px */
}

.joinForm{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background-color: rgba(255, 253, 245, 1);
    max-width: 70%;
    max-height: 55vh;
}

.joinInputs{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 8%;

    
}

.joinInputs>input{
    border: 0px;
    border-bottom: solid;
    border-color: rgba(125, 125, 125, 1);
    border-width: 0.3vh;
    margin-top: 10%;
    height: 3vh;
    outline: none;
    background-color: transparent;
}

.textContainer {
    margin-left: 8%;
    max-width: 90%;
}

.agreement{
    display: flex;
    margin-top: 3%;
    margin-left: 8%;
}

.collabBtn{
    display: flex;
    align-items: center;
    color: rgba(255, 253, 245, 1);
    margin-top: 2%;
    background-color: rgba(81, 74, 126, 1);
    max-width: 20%;
    margin-left: 8%;
    font-size: 1.4em;
    height: 5vh;
}