
p {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 16.52px */
}

.discounts {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1135px;
    left: 135px;
}

.delivery {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1259px;
    left: 271px;
}

.prices {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1135px;
    left: 421px;
}

.customers {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1135px;
    left: 696px;
}

.points {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1259px;
    left: 808px;
}

.assortment {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1135px;
    left: 980px;
}

.whyWeText {
    position: absolute;
    width: 440px;
    height: 40px;
    top: 1001px;
    left: 135px;

    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
}

.sEll1 {
    position: absolute;
    /* width: 28px; */
    /* height: 28px; */
    top: 1148px;
    left: 243px;

}
.sEll2 {
    position: absolute;
    /* width: 28px; */
    /* height: 28px; */
    top: 1248px;
    left: 972px;

}
.bEll1 {
    position: absolute;
    /* width: 47px; */
    /* height: 47px; */
    top: 1272px;
    left: 428px;

}
.bEll2 {
    position: absolute;
    /* width: 47px; */
    /* height: 47px; */
    top: 1101px;
    left: 864px;

}