
p {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 16.52px */
}

.discounts {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1135px;
    left: 135px;
}

.delivery {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1259px;
    left: 271px;
}

.prices {
    position: absolute;
    width: 175px;
    height: 26px;
    top: 1135px;
    left: 421px;
}

.customers {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1135px;
    left: 696px;
}

.points {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1259px;
    left: 808px;
}

.assortment {
    position: absolute;
    width: 184px;
    height: 26px;
    top: 1135px;
    left: 980px;
}

.whyWeText {
    position: absolute;
    width: 440px;
    height: 40px;
    top: 1001px;
    left: 135px;

    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
}