
p {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 16.52px */
}

.discounts {
    width: 175px;
    height: 26px;
  
}

.delivery {
    width: 175px;
    height: 26px;
   
}

.prices {
    width: 175px;
    height: 26px;
   
}

.customers {
    width: 184px;
    height: 26px;
   
}

.points {
    width: 184px;
    height: 26px;
   
}

.assortment {
    width: 184px;
    height: 26px;
    
}

.whyWeText {
    width: 440px;
    height: 40px;
   

    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
}

.mainContent {
    /* align-items: center; */
    margin-left: 9%;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 5%;
}

.secondLine {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 10%;
}

.smallEll1 {
    position: absolute;

    /* width: 28px;
    height: 28px; */
    top: 135.5%;
    left: 16.2%;
}
.smallEll2 {
    position: absolute;
    /* width: 28px;
    height: 28px; */
    top: 149%;
    left: 61.2%;
}


.bigEll1 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 120%;
    left: 65%;
}
.bigEll2 {
    position: absolute;
    /* width: 47px;
    height: 47px; */
    top: 128%;
    left: 53.4%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

button {
    border: none;
    background: none;
}

.btnTop {
    width: 88px;
    height: 88px;
}

.btnChat {
    width: 88px;
    height: 88px;
}

.btnChat:hover {
    position: relative;
    left: 5%;
    /* background-image: url('../../../Images/whyWe/buttons/btn-chat-hover.svg'); */
    width: 90px;
    height: 90px;
}