.imgShirt {
    width: 278px;
    height: 242px;   
}

.imgJeans {
    width: 476px;
    height: 416px;
}

.welcomeTitle {
    width: 105%;
    /* height: 114px; */
    

    color: #121212;
    font-family: Roboto;
    font-weight: 300;
    font-size: 3.3em;
    margin-left: 1%;
}

.cokteil {
    color: #514A7E;
    font-family: 'Bad Script', cursive;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.smallText {
    width: 249px;
    height: 46px;

    color: #7D7D7D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    /* margin-top: 60px; */

    margin-left: 1%;
}

.welcomeText {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 8.6%;
    width: 80.5%;
}

.left{
    max-width: 40%;
}
/* 
.welcome {
    margin-left: 8.6%;
} */