a {
    text-decoration: none;
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin: 5% 0; 
}

.footer {
    background: #514A7E;
    width: 100%;
    height: 50vh;
    display: flex;


    margin-top: 10%;
    display: flex;
    justify-content: center; 
    align-items: baseline;   
  
  }

  .footLabel {
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;

  }

  .footSocial p {
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }



  .footInfo {
    width: 124px;
    height: 206.12px;
  }
  .footMyAccount {
    width: 124px;
    height: 114.51px;
  }

  .imgPhone {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .imgClock {
    width: 20px;
    height: 19.915px;
    flex-shrink: 0;
  }


  .blocks {
    display: flex;
    justify-content: space-between;
    width: 90%;

    margin-left: -5%;
  }

  .ip {
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .logoNeon {
    display: flex;
    width: 84px;
    height: 83.642px;
    flex-shrink: 0;

    padding-top: 18%;
  }

  .allContent {
    display: flex;
    justify-content: space-between;
    width: 79%;
  }
