a {
    text-decoration: none;
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    background: #514A7E;
    width: 100%;
    height: 373.4px;
    display: flex;
    position: relative;
    top: 1000px;

    display: flex;
    justify-content: center; 
    align-items: baseline;   
  
  }

  .footLabel {
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 60px;
  }

  .footer p {
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  /* .footInfo, .footMyAccount .footSocial {
    flex: 1;
  } */

  .footInfo {
    /* position: relative; */
    width: 124px;
    height: 206.12px;

    /* left: 135px; */

  }
  .footMyAccount {
    /* position: relative; */
    width: 124px;
    height: 114.51px;
    /* left: 356px; */
  }

  .footContact {
    /* position: relative; */
    left: 60px;

  }

  .footSocial {
    /* position: relative; */
  }

  .imgPhone {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .imgClock {
    width: 20px;
    height: 19.915px;
    flex-shrink: 0;
  }

  .footInfo {
    margin-right: 97px;
  } 
  
  .footMyAccount {
    margin-right: 97px;
  }
  .footContact {
    margin-right: 97px;
  }
  .footSocial {
    margin-right: 97px;
  }

  .ip {
    color: #FFFDF5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .logoNeon {
    width: 84px;
    height: 83.642px;
    flex-shrink: 0;

    position: absolute;
    left: 90%;
    top: 70%
  }
