.header {
    /* margin-left: 1285px; */
    /* margin-top: 50px; */

    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-top: 4%;

}

.rightHead {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.header button {
    border: none;
    background: none;
}

.menuBtn {
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    margin-left: 30%;


}

.search {
    display: flex;
    justify-content: space-between;
    width: 79%;
}

.searchImg {
    width: 20px;
    height: 20px;
}

.searchInp {
    width: 308px;
    border: none;

    border-bottom: 1px solid #7D7D7D;
    outline: none;

  
}

.accountBtn {
    width: 20px;
    height: 20px;
  
}

.favoritesBtn {
   
    width: 20px;
    height: 20px;
  
}

.cartBtn {
    width: 20px;
    height: 20px;
   
}

